
/* Global Styles */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* Navbar Styles */
.nav-bar {
  max-width: 100%;
  display: flex;
  justify-content: space-beetween;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #14192C;
  padding: 10px 20px;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 20px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #f5f5f5;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #f5f5f5;
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}
@media(max-width: 710px){
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 100;
    background-color: #14192C;
    transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}
.navbar {
  background-color: #14192C;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar .logo span {
  color: #28DABB;
}

.navbar .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar .menu li a:hover {
  color: #28DABB;
}

.navbar .contact-btn {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* slide pictures style */

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto 0 0; /* atur margin-top menjadi 0 */
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: calc(100vw * 9/16); /* calculate height based on width and 16:9 aspect ratio */
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: none;
}

/* Container Styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  transition: transform 0.5s ease-in-out;
}

/* Text Section Styles */

.text-section {
  text-align: center;
  max-width: 90%;
}

.text-section h1 {
  font-size: 36px;
  margin: 0;
}

.text-section h1 span {
  color: #28DABB;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 500px;
  height: 500px;
  background-color: #f5f5f5;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin: 20px 0;
}

.text-section .btn-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-section .btn-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.text-section .btn-group .experience-btn {
  background-color: #28DABB;
  color: #fff;
}

/* Profile Section Styles */

.profile-section {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.profile-section h2 {
  font-size: 36px;
  color: #333;
}

.profile-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin: 20px 0;
}

.profile-section .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.profile-section .social-links a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.profile-section .social-links a:hover {
  color: #28DABB;
}

.profile-section .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-section .btn-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #28DABB;
  color: #fff;
}

/* Education Section Styles */

.education-section {
  padding: 50px 20px;
  background-color: #f5f5f5;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.education-section h2 {
  font-size: 36px;
  color: #333;
}

.education-section .education-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.education-section .education-list li {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-section .education-list li h3 {
  font-size: 18px;
  color: #333;
}

.education-section .education-list li p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.education-section .education-list li .date {
  font-size: 14px;
  color: #999;
}

.education-section .education-list li .date span {
  color: #28DABB;
}

/* Experience Section Styles */

.experience-section {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.experience-section h2 {
  font-size: 36px;
  color: #333;
}

.experience-section .experience-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.experience-section .experience-list li {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experience-section .experience-list li h3 {
  font-size: 18px;
  color: #333;
}

.experience-section .experience-list li p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.experience-section .experience-list li .date {
  font-size: 14px;
  color: #999;
}

.experience-section .experience-list li .date span {
  color: #28DABB;
}

/* Gallery Section Styles */

.gallery-section p {
  text-align: center;
}
.gallery-section {
  background-color: #f7f7f7;
  padding: 40px;
}

.gallery-section h1 {
  text-align: center;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
  width: calc(33.33% - 20px);
  position: relative; /* Necessary for absolute positioning of the image */
}

.gallery-item img {
  width: 100%;
  height: auto; /* Set height to auto for responsive scaling */
  aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Media query for landscape mode */
@media (orientation: landscape) {
  .gallery-item {
    height: 33.33vw; /* Set height based on viewport width for a square */
  }
  .gallery-item img {
    height: 100%; /* Ensure the image fills the height */
  }
}

.gallery-item:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
/* Registration Section Styles */

.registration-section {
  paddig: 50px 500px;
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.registraton-section .table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.registration-section .left-column, .registration-section .right-column {
  padding: 10px;
  text-align: left;
}

.registration-section .left-column {
  width: 50%;
}

.registration-section .right-column {
  width: 50%;
}

.registration-section input[type="text"],
.registration-section input[type="password"],
.registration-section select {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.registration-section input[type="submit"] {
  background-color: #28DABB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.registration-section input[type="submit"]:hover {
  background-color: #1aa59c;
}

.registration-section .green {
  background-color: #e0f7fa;
}

.registration-section .green input {
  background-color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .registration-section .left-column, .registration-section .right-column {
    width: 100%;
    display: block;
  }
}

/* Contact Section Styles */

.contact-section {
  padding: 50px 20px;
  background-color: #14192C;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.contact-section h2 {
  font-size: 36px;
  color: #fff;
}

.contact-section p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  margin: 20px 0;
}

.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-section .contact-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.contact-section .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.contact-section .contact-form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #28DABB;
  color: #fff;
}

.contact-section .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-section .social-links a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.contact-section .social-links a:hover {
  color: #28DABB;
}

/* Footer Styles */

.footer {
  background-color: #14192C;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright {
  color: #fff;
  font-size: 14px;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .social-links a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.footer .social-links a:hover {
  color: #28DABB;
}
